
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    width:100vw;
    display:flex;
}

/* Portrait layout (default) */
.app {
    flex:1;
    display: flex;
}
.pageheader{
    display:flex;
    width:100vw;
    margin:0 !important;
    justify-content: space-between;
    align-items: center;
    border-radius:none !important;
}
.pageheader .headerButton{
    margin:0 2vw;
    color:white;
}
.pageheader .headerTitle{
    margin:0 !important;
}
.introPage{
    
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10vmin;
}
.introImg{
    width:80vmin !important;
    -webkit-animation: introFilter 5s infinite; /* Safari 4+ */
  -moz-animation:    introFilter 5s infinite; /* Fx 5+ */
  -o-animation:      introFilter 5s infinite; /* Opera 12+ */
  animation:         introFilter 5s infinite; /* IE 10+, Fx 29+ */
}
.fullpage{
    padding: 0;
    flex:1;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.fullpage .menu{
    height:8vh !important;
    margin-bottom: 0 !important;
}
.flexPage{
    display: flex !important;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.centerflex{
    justify-content: center !important
}
.spaceBtwflex{
    justify-content: space-between !important
}
.flex{
    flex:1 !important;
}
.ui.header.white{
    color:white!important
}
.menuContainer{
    margin-top:5vmin;
    overflow-y: auto;
    height: 88vh;
    overflow-x: hidden;
}
.reportContainer{
    overflow-y: auto;
    height: 90vh;
    background-color: lightgray;
}

#popup{
    position: absolute;
    top:0;
    left:0;
}
.quikPopup{
    position: absolute;
    top:0;
    left:0;
    background-color: transparent;
    display:flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
#anotatePage .ui.inverted.button{
    box-shadow:none !important;
    border:none !important;
}
#anotatePage .ui.inverted.button.active,#anotatePage .ui.inverted.button:focus{
background-color: transparent !important;
}

.PdfPage{
    padding: 0 2vw 2vw 2vw ;
}
.PdfPage:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(3deg);
}

@-webkit-keyframes introFilter {
    0%   { -webkit-filter: grayscale(100%) }
    30% { -webkit-filter: grayscale(0%) }
    70% { -webkit-filter: grayscale(0%) }
    100% { -webkit-filter: grayscale(100%) }
  }
  @-moz-keyframes introFilter {
    0%   {  filter: grayscale(100%); }
    30% {  filter: grayscale(0%); }
    70% {  filter: grayscale(0%); }
    100% {  filter: grayscale(100%); }
  }
  @-o-keyframes introFilter {
    0%   {  filter: grayscale(100%); }
    30% {  filter: grayscale(0%); }
    70% {  filter: grayscale(0%); }
    100% {  filter: grayscale(100%); }
  }
  @keyframes introFilter {
    0%   {  filter: grayscale(100%); }
    30% {  filter: grayscale(0%); }
    70% {  filter: grayscale(0%); }
    100% {  filter: grayscale(100%); }
  }